<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css"> -->
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <title>StrangeFlix</title>
  </head>
  <body>
    <form action="/admin/upload" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Title"
          name="titleInput"
        />
      </div>

      <div class="form-group">
        <textarea
          type="text"
          class="form-control"
          placeholder="Description"
          name="descriptionInput"
          rows="3"
        ></textarea>
      </div>
      </div>
      <div class="form-group">
        <select class="form-control" name="privacyInput">
          <option value="0">Private</option>
          <option value="1">Public</option>
        </select>
      </div>

      <div class="form-group">
        <select class="form-control" name="categoryInput">
          <% categories.forEach((category)=>{ %>
            <option value="<%= category.id %>"><%= category.name %></option>
          <% }) %>
          
        </select>
      </div>

      <div class="form-group">
        <input
          type="file"
          class="form-control-file"
          name="fileInput"
          required
        />
      </div>
      <button class="btn btn-primary">Upload</button>
    </form>
  </body>
</html>
